# Momen Invite - Frontend Admin Environment Variables

# Backend REST API Core Engine URL
NEXT_PUBLIC_API_URL=http://localhost:5000

# App Configuration
NEXT_PUBLIC_APP_NAME="Momen Invite Admin"
NEXT_PUBLIC_APP_ENV=development
